*{
    padding: 0;
    margin: 0;

}
.header{
    
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#light{
    background-color:#FFFFFF;
    color: black;
}
#dark{
    background-color: black;
    color: #FFFFFF;
}
.header img{
   margin: 1rem 2rem;
}
#dark .header{
    background-color: rgba(71, 69, 69, 0.558);
}
.middle-section{
    width: 55vw;
    margin:  2rem auto ;
}
#dark .middle-section {
    background-color: rgba(71, 69, 69, 0.558);
    padding: 2rem 28px;
    border-radius: 20px;
    
}
.hero-image img{
    width: 70%;
    margin: 0 6rem;
}
.experience h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 78.6px;
}
.experience p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22.6px;
    width: 50%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;

}
#dark .lower-card{
   background-color: rgba(222, 211, 211, 0.558);
   border-radius: 6px;
}
.card{
    margin: 1.7rem;
}
#dark .card{
    box-shadow:6px 5px 16px grey;
}
.upper-card{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem ;
    position: relative;
    
}
.soldout{
    position: absolute;
    left: 3.2%;
    top: 3.2%;
}


